.cabecalho {
    background-color: var(--cor-marrom);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 3;
}



.cabecalho-logo {
    display: flex;
    align-items: center;
}

.cabecalho-logo h1 {
    margin: 0;
    font-size: 2em;
}

.cabecalho .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav li {
    margin: 0 10px;
    position: relative;
}

.nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav .links {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    text-underline-offset: 7px;
    border-color: transparent;
}

.nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.nav ul li:hover>ul {
    display: flex;
    flex-direction: column;
}

.nav ul ul li {
    margin: 0;
}

.nav ul ul a {
    padding: 5px 20px;
    font-size: 0.9em;
    white-space: nowrap;
    color: white;
}

.nav ul ul a:hover {
    background-color: transparent;
    color: white;
}

.icon-menu-mobile {
    display: none;
}

.menuMobile {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav li {
        display: none;
    }

    .icon-menu-mobile {
        display: block;
    }

    .icon-menu-mobile button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menuMobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: var(--amarelo-queimado);
    }

    .menuMobile .nav li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .menuMobile.show {
        display: block;
    }

}