/* Formulário para cadastro do ESTABELECIMENTO */
.formulario-estabelecimento {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 30%;
    justify-content: center;
}

.formulario-estabelecimento label {
    text-align: center;
    margin-top: 15px;
    color: var(--branco);
}

.formulario-estabelecimento input {
    border-radius: 10px;
}


.formulario-estabelecimento button {
    width: 100% !important;
    cursor: pointer;
    background: var(--preto);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    margin-top: 10px;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: all 0.2s linear;
}

#botao-estabelecimento[type="submit"]:hover {
    background: var(--cor-amarelo);
}


input[type=text]:focus {
    background-color: var(--branco);
    border: 2px solid var(--cor-amarelo);
}

/* Formulário para EDITAR o USUÁRIO */
.formulario-editar-perfil {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 20%;
    justify-content: center;
}

.formulario-editar-perfil label {
    width: 25%;
    text-align: right;
    margin-right: 10px;
    margin-top: 23px;
    color:  var(--branco);
}

.formulario-editar-perfil input {
    width: 65%;
    border-radius: 10px;
    margin-top: 15px;
}

input[type=text]:focus {
    background-color: var(--branco);
    border: 2px solid var(--cor-amarelo);
}

.formulario-editar-perfil button {
    width: 30% !important;
    cursor: pointer;
    background: var(--preto);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

#botao-editar-usuario[type="submit"]:hover {
    background: var(--cor-amarelo);
}