/* Formulário para cadastro do ESTABELECIMENTO */
.formulario-estabelecimento {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 40%;
    justify-content: center;
}

.formulario-estabelecimento label {
    text-align: center;
    margin-top: 15px;
}

.formulario-estabelecimento input {
    border-radius: 10px;
}

input[type=text]:focus {
    background-color: var(--cinza-fundo);

}


/* Formulário para cadastro do PRODUTO */
.formulario-produto {}