/* Formulário para cadastro do ESTABELECIMENTO */
.formulario-estabelecimento {
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    width: 30%;
    justify-content: center;
}

.formulario-estabelecimento label {
    text-align: center;
    margin-top: 15px;
}

.formulario-estabelecimento input {
    border-radius: 10px;
}

input[type=text]:focus {
    background-color: var(--cinza-fundo);
    border: 2px solid var(--cor-vermelho);
}


/* Formulário para cadastro do PRODUTO */
.formulario-produto {
    width: 50%;
    margin: auto;
    display:grid;
    grid-template-rows: 40px 40px auto ;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    gap: 1px;
    justify-content: space-around;
    text-align: end;
}

.formulario-produto label {
    /* text-align: end; */
    margin-top: 15px;
}

.formulario-produto input {
    border-radius: 10px;
}

input[type=text]:focus {
    background-color: var(--cinza-fundo);
    border: 2px solid var(--cor-vermelho);
}

select{
    border-radius: 5px;
    width: 100%;
}