#rodape-login {
    height: 10vh;
    background: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    align-items: start;
    display: flex;
    margin-top: 600px;
}

#rodape-login h6 {
    font-size: 38px;
}

#rodape-login p {
    font-size: 18px;
    padding-top: 20px;
}