#rodape {
    height: 10vh;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 70%, rgba(249, 255, 0, 1) 120%); */
    color: white;
    padding: 30px;
    align-items: start;
    display: flex;
}

#rodape h6 {
    font-size: 38px;
}

#rodape p {
    font-size: 18px;
    padding-top: 20px;
}