#section-categoria  {
    position: relative;
    top: calc(9vh - 80px);
    /* A posição da seção é definida abaixo da primeira seção */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
}

.lista-desordenada{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
}

.lista-desordenada li a{
padding-left: 10px;
background-color: var(--amarelo-queimado);
text-decoration: none;
}

a:visited {
    color: white;
}

