#section-mais-procurados {
    position: relative;
    top: calc(7vh - 80px);
    /* A posição da seção é definida abaixo da primeira seção */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section-mais-procurados .engloba-cards .linha-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#section-mais-procurados .engloba-cards .linha-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


