#section-categorias {
    position: relative;
    top: calc(7vh - 80px);
    /* A posição da seção é definida abaixo da primeira seção */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--preto);
}

.nav-categorias {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.nav-categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-categorias li {
    margin: 0 10px;
    position: relative;
}

.nav-categorias a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5e3d2c;
}

.nav-categorias a:hover {
    background-color: #e2954d;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    border-color: #e2954d;
    border-radius: 5px;
    text-decoration: none;
}