

#tabela-body td {
    border: 2px solid #5e3d2c;
    border-color: #5e3d2c;
    font-size: 14px;
    font-style: normal;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.tabela-cabecalho th {
    padding: 10px;
    color: white;
    background-color: #9b5a44;

}

.editar {
    background-color: #5e3d2c;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.excluir {
    background-color: #5e3d2c;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.editar:hover {
    transition: 0.3s;
    background-color: #e2954d;
    color: white;
}

.excluir:hover {
    transition: 0.3s;
    background-color: #e2954d;
    color: white;
}

.nav-categorias ul li {
    color: var(--cor-amarelo);
    transition: 0.3s;
}

.nav-categorias ul li a {
    color: white;
    transition: 0.3s;
    border-color: #9b5a44;
}