#tabela-dinamica {
    width: 90%;
    margin: 85px;
    border: 2px solid var(--cinza);
    text-align: center;
    background-color: white;
}

.tabela-cabecalho {
    border: 2px solid var(--cinza);
}

#tabela-produto td {
    border: 2px solid #5e3d2c;
    border-color: #5e3d2c;
    font-size: 14px;
    font-style: normal;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav-categorias ul li a {
    transition: 0.3s;
}
