#tabela-dinamica {
    width: 90%;
    margin: 85px;
    border: 3px solid #ddd;
    text-align: center;
    background-color: white;
    border-color: var(--amarelo-queimado);
}

.tabela-cabecalho {
    border-color: var(--amarelo-queimado);
    border: 3px solid var(--amarelo-queimado);
}

#tabela-body td {
    border: 2px solid var(--amarelo-queimado);
    border-color: var(--amarelo-queimado);
    font-size: 14px;
    font-style: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    background-color: var(--cinza-fundo);
    border-radius: 5px;
}

button:hover {
    border-color: var(--amarelo-queimado);
    border-radius: 5px;
}