.titulo-section {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1.5;
    justify-content: center;
    display: flex;
    padding: 70px;
    padding-top: 150px;
    font-weight: bolder;    
    font-size: 1.5vw;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: var(--cor-vermelho);
    text-decoration-thickness: 3px;

}

