.titulo-section {
    margin-top: 0;
    text-shadow: 1px 1px 1px rgb(990 990 980 / 10%);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1.5;
    justify-content: center;
    display: flex;
    color: #5e3d2c;
    padding: 70px 25px 70px 25px;
    font-weight: bolder;
    font-size: 1.5vw;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #e2954d;
    text-decoration-thickness: 3px;

}

