@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url(reset.css);
@import url(responsivo.css);
@import url(components/cabecalho.css);
@import url(components/section-home.css);
@import url(components/titulo-section.css);
@import url(components/section-mais-procurados.css);
@import url(components/section-sobre.css);
@import url(components/card.css);
@import url(components/section-categorias.css);
@import url(components/card-grande.css);
@import url(components/section-sobre.css);
@import url(components/section-cadastro_login.css);
@import url(components/rodape.css);
@import url(components/rodape-login.css);
@import url(components/form.css);
@import url(components/form-produto.css);
@import url(components/tabela-estabelecimentos.css);
@import url(components/tabela-produtos.css);
@import url(components/index.css);
@font-face {
  font-family: 'yt';
  src: url('YouTubeSansRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:root {
  /* --cinza: #646464; */
  --branco: #f9f9f9;
  --preto: #d3bdaf;
  --cor-amarelo: #000;
  --cinza: rgb(187, 187, 187);
}

* {
  font-family:'yt';
}

body {
  font-family:'yt';
  width: 99vw;
  height: 100vh;
  background-color: var(--preto);
}

main {
  width: 90vw;
  margin: 0 auto;
  text-decoration: none;
}